<% if @user.errors.any? %> 

<div id="error_explanation_signup" class="round">
  
  <h2>
    <strong><%= pluralize(@user.errors.count, "error") %></strong>
    prohibited this user from being saved:
  </h2>
  

<strong><p>There were problems with the following fields:</p></strong>

  <% @user.errors.full_messages.each do |msg| %>
  <%= msg %><br />
  <% end %>

</div> 
<% end %>
