    <% @user ||= current_user %>
    <tr>
      <td>
        <strong>Like:</strong>
      </td>
      <td>
        <a href="<%= following_user_path(@user) %>">
          I am following <%=pluralize(@user.following.count, "user") %>
        </a>
      </td> 
      <tr>
      <td id="noline">
        <strong>Fame:</strong>

      </td>
      <td id="noline">
        <a href="<%= followers_user_path(@user) %>"> 
         I got  <%= pluralize(@user.followers.count, "follower") %> 
        </a> 
      
      </td>

