
<center>
      <h1><%= @title %></h1> 

        <p>
          Welcome to rent my tent!
        </p> 
<% if signed_in? %>
<%else%>
        <%= link_to "Sign Up", signup_path, :class => "signup_button round" %>
        <p></p>
        <%= link_to "Sign In", signin_path, :class => "signin_button round" %>
        <%end%>
</center>

<script type="text/javascript">
  jQuery(function($){
    $(".flash").delay(3000).fadeOut(1000);
  });
</script>
        
